SetEnv APPLICATION_ENV development
#SetEnv APPLICATION_ENV production
#SetEnv APPLICATION_ENV testing
#SetEnv APPLICATION_ENV staging
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*)$ index.php [L]


